body {
  margin: 0px;
  font-family: sans-serif;
}

textarea:focus, input:focus{
  outline: none;
}

.sidebar{
  position: absolute;
  top: 10px;
  width: 110px;
}

.sidebar_top{
  position: absolute;
  left: 90px;
  width: 310px;
}

.topbar{
  position: absolute;
  width: 248px;
  z-index: 11;
  right: 0;
  text-align: center;
}
.topbar>div{
  padding: 3px;
  background-color: #3279b3;
  border-bottom: 2px solid #ff8900;
  box-shadow: 3px 1px 6px 1px #000000;
}
.topbar p{
  text-align: center;
  font-size: 15px;
  margin: 0;
  color: #cccccc;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.flex-container>div:hover{
  box-shadow: 0 0 5px 1px #888888
} 

.flex-container span{
  display: block;
  font-size: 13px;
  position: relative;
  top: 3px;
  margin: 2px 0;
}

.flex-container .sub_menu_lft {
  background-color: #fff;
  width: 90px;
  margin: 5px;
  text-align: center;
  color: #2e77b5;
  border-radius: 3px;
  padding: 8px 0;
  cursor: pointer;
  transform: scale(0);
  transition: 0.2s ease-in;
}


.flex-container .sub_menu_top{
  background-color: #fff;
  width: 90px;
  margin: 5px;
  text-align: center;
  color: #2e77b5;
  border-radius: 3px;
  padding: 8px 0;
  cursor: pointer;
  transform: scale(0);
  transition: 0.18s ease-in;
}

.flex-container #menu-devlop{
  background-color: transparent;
  position: relative;
  left: 25px;
  width: 40px;
  margin: 5px;
  text-align: center;
  color: #2e77b5;
  border-radius: 26px;
  padding: 8px 0;
  cursor: pointer;
  transition: 0.18s ease;
}

.flex-container i{
  font-size: 23px;
}

.renderer_container{
  position: absolute;
  z-index: -1;
  top: 0;
  right: 248px;
  left: 0;
  bottom: 0; 
}

.renderer_container canvas{
  position: absolute;
  /* height: auto !important; */
}


/*----------- Editor --------------------------------------------*/

.editor{
  position: absolute;
  z-index: -100;
  opacity:0;
  background-color: #0000009e;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-800px);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
}

.editorContain{
  position: absolute;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 50px;
  height: auto;
  padding: 15px;
  transition: 0.4s ease-in-out; 
  transition-property: transform, opacity;
}

.editorContain .holeLevel>input{
  border: none;
  border-radius: 3px;
  padding: 7px 32px 7px 7px;
  font-size: 15px;
  font-family: sans-serif;
}

.editorContain .holeLevel>button{
  position: relative;
  left: -32px;
  font-size: 15px;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 7px;
  background: #cacaca;
  font-family: sans-serif;
  cursor: pointer;
}

.editorContain .type{
  position: relative;
  margin: 10px;
  padding: 5px;
  height: 200px;
  width: 210px;
  float: left;
  border-radius: 4px;
  border: 1px solid darkgrey;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.editorContain .type:hover{
  transform: scale(1.1,1.1);
}

.editorContain .type>img{
  width: 100%;
  height: 100%;
}

.loading{
  position: absolute;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 100px;
  height: auto;
  padding: 15px;
}
.loading .loading_contain{
  border: 1px solid #ffffff;
  padding: 2px;
  border-radius: 4px;
  width: 100%;
  height: 5px;
}
.loading .loading_contain .progress{
  width: 0%;
  height: 100%;
  border-radius: 4px;
  background: #797979;
}

.loading .loading_contain .progress_num{
  position: absolute;
  right: 15px;
  margin-top: 8px;
  color: #fff;
  font-family: sans-serif;
}

.upload{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 59px;
  border-radius: 26px;
  opacity: 0;
  cursor: pointer;
}

#enable{
  position: absolute;
  z-index: 403;
  top: 18px;
  left: 34px;
  border: 0;
  border-radius: 22px;
  font-size: 42px;
  font-weight: bold;
  color: #fff;
  background: #515151;
  cursor: pointer;
}
/* gui overStyle */

#gui-container { 
  position: relative;
  z-index: 10;
  top: 50px;
  right: 0px;
  margin-bottom: 30px;
}

/* Tree Bones */

#bones-control{
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  bottom: 0;
  width: 245px;
  background: #292929;
  border-left: 3px solid black;
  overflow-x: hidden;
  overflow: overlay;
}

#bones-control::-webkit-scrollbar {
	width: 5px;
}

#bones-control::-webkit-scrollbar-track {
	background-color: #000000;
}

#bones-control::-webkit-scrollbar-thumb {
	background-color: #000000;
	border: 1px solid #555555;
}

.bones_tree{
  position: relative;
  background: black;
  color: #fff;
  z-index: 10;
  top: 50px;
  right: 0px;
  padding: 10px;
}

.bones_tree>p{
  padding: 0 0 10px;
  margin: 0;
  font-size: 15px;
  text-align: center;
}

.bones_tree .groupTree>ul{
  background-color: #292929;
  padding-left: 0;
  margin: 10px 0px;
  padding: 10px 0;
  font-size: 15px;
  transition: 0.1s ease-in-out;
}

.bones_tree .groupTree>ul>label{
  margin: 18px;
  font-size: 11px;
  position: relative;
  top: -13px;
  left: -18px;
  padding: 3px;
  background: #222222;
  color: #ff8900;
  font-weight: bold;
}

.bones_tree .groupTree>ul>label>input[name='move_group']{
  cursor: pointer;
  position: relative;
  top: 3px;
  right: -2px;
}

.bones_tree .groupTree>ul>span{
  position: relative;
  z-index: 1;
  float: right;
  right: 15px;
  margin-top: 15px;
  margin-left: 15px;
  color: #d3d3d3;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.bones_tree .groupTree>ul>input{
  display: block;
  border: 0;
  border-left: 3px solid #3279b3;
  background: transparent;
  width: 110px;
  color: #fff;
  padding: 6px 10px;
  margin: 10px 8px 10px;
  cursor: pointer;
}

.bones_tree .groupTree>ul>li{
  list-style: square;
  list-style-position: inside;
  padding: 7px;
  padding-left: 18px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.bones_tree .bonesList{
  background: #292929;
  margin-bottom: 10px;
  height: 100px;
  border: 1px solid #3279b3;
  overflow-x: hidden;
}

.bones_tree .bonesList>li{
  list-style: circle;
  list-style-position: inside;
  padding: 7px;
  padding-left: 10px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

/*changing style*/
.drop-enabled{
  border: 3px dashed #ff8900;
  opacity: 0.6;
}
.drop-disabled{
  border: none;
  opacity: 1;
}

.selected{
  background-color: #171717;
}
.deselected{
  background-color: none;
}

.group-selected{
  border: 3px solid #ff8900;
}
.group-selected{
  border-top: 3px solid #ff8900;
}

/* new group button style*/

input[name='new_group']{
  position: relative;
  right: -67px;
  margin: 10px 0 0 0;
  border-radius: 3px;
  font-weight: bold;
  font-size: 13px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background: #ff8900;
}